<ul class="nav nav-pills flex-column flex-md-row mb-4 gap-2">
    <li class="nav-item">
        <a href="/service/custom" class="nav-link {% if active == 'custom' %}active{% endif %}">Заказные перевозки</a>
    </li>
    <li class="nav-item">
        <a href="/service/passenger" class="nav-link {% if active == 'passenger' %}active{% endif %}">Пассажирские перевозки</a>
    </li>
    <li class="nav-item">
        <a href="/service/children" class="nav-link {% if active == 'children' %}active{% endif %}">Перевозки детей</a>
    </li>
</ul>