{% extends "base.html" %}
{% block title %}Документы — ПАТП №1 Вологда{% endblock %}

{% block content %}
<div class="service-holder">
    <h1 class="mb-5">Документы</h1>
    <nav class="breadcrumbs mb-4" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/about">О компании</a></li>
            <li class="breadcrumb-item active" aria-current="page">Документы</li>
        </ol>
    </nav>
</div>

<div class="container py-4">
    <!-- Список документов -->
    <section class="documents-list">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">О реорганизации МУП городского округа города Вологды "ПАТП №1" путем преобразования в акционерное общество "ПАТП №1"</h3>
                        <a href="/static/uploads/" class="btn btn-primary mt-2">Скачать документ</a>
                    </div>
                </div>

                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">Политика в отношении обработки персональных данных</h3>
                        <a href="/static/uploads/mupatp_politic.pdf" class="btn btn-primary mt-2">Скачать документ</a>
                    </div>
                </div>

                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">Корпоративная программа по укреплению здоровья МУП "ПАТП №1"</h3>
                        <a href="/static/uploads/" class="btn btn-primary mt-2">Скачать документ</a>
                    </div>
                </div>

                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">Паспорт доступности транспортного средства для пассажиров из числа инвалидов (ЛиАЗ529267)</h3>
                        <a href="/static/uploads/" class="btn btn-primary mt-2">Скачать документ</a>
                    </div>
                </div>

                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">Паспорт доступности услуги по перевозке пассажиров автомобильным (наземным электрическим) транспортом в городском сообщении для пассажиров из числа инвалидов</h3>
                        <a href="/static/uploads/" class="btn btn-primary mt-2">Скачать документ</a>
                    </div>
                </div>

                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">Уведомление о страховании ответственности перевозчика</h3>
                        <p class="card-text">
                            АО «ПАТП №1» уведомляет, что ОТВЕТСТВЕННОСТЬ ПЕРЕВОЗЧИКА ПО ОБЯЗАТЕЛЬСТВАМ, ВОЗНИКАЮЩИМ ПРИ ПЕРЕВОЗКЕ ПАССАЖИРОВ, ЗАСТРАХОВАНА.
                            При наступлении страхового события необходимо обратиться в АО «ПАТП №1», а также в офис Филиала АО «СОГАЗ» в г. Вологда:
                        </p>
                        <ul class="list-group list-group-flush mt-3 mb-3">
                            <li class="list-group-item d-flex align-items-center">
                                <i class="bi bi-geo-alt text-primary me-2"></i> <strong>Адрес:</strong> 160035, Вологодская обл., г. Вологда, ул. С. Орлова, д. 4.
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <i class="bi bi-telephone text-primary me-2"></i> <strong>Телефон:</strong> 8 (800) 333-0-888; 8 (8202) 202-375.
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <i class="bi bi-printer text-primary me-2"></i> <strong>Факс:</strong> 8 (8202) 202-375.
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <i class="bi bi-envelope text-primary me-2"></i> <strong>E-mail:</strong> <a href="mailto:sogaz@sogaz.ru">sogaz@sogaz.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">Договор обязательного страхования гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров № GAZX22345881242000 от 23.05.2023</h3>
                        <p class="card-text">Срок действия: с 26.05.2023 – 25.05.2024 г.</p>
                    </div>
                </div>

                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">Договор обязательного страхования гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров № GAZX22370642878000 от 19.07.2023</h3>
                        <p class="card-text">Срок действия: с 19.07.2023 – 18.07.2024 г.</p>
                    </div>
                </div>

                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">Договор обязательного страхования гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров № GAZX22328297119000 от 18.09.2023</h3>
                        <p class="card-text">Срок действия: с 29.09.2023 – 28.09.2024 г.</p>
                    </div>
                </div>

                <div class="card shadow-sm mb-4">
                    <div class="card-docs">
                        <h3 class="card-title">Договор обязательного страхования гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров № GAZX22458094126000 от 15.01.2024</h3>
                        <p class="card-text">Срок действия: с 15.01.2024 – 14.01.2025 г.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %} 